<%= form_for @food_stuff_mark, :url => food_stuff_marks_path, :html => { :multipart => true } do |f| %>


    <table> 
      <tr>
        <td>
          <%= f.label "Name" %>
        </td>
        <td>
          <%= f.text_field :name %>
        </td>
      </tr>  
      <tr>
        <td>
          <%= f.label "Image" %>
        </td>
        <td>
          <%= f.file_field :food_stuff_mark_image %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.submit "Create mark", class: "btn btn-large btn-primary" %>
        </td>
      </tr>
    </table>

    <% end %>