<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= @user.name %>
      </h1>
    </td>
  </tr>
</table>

<p class="alignleft"><%= link_to 'Add foodstuff', new_food_stuff_path %></p>
<br />
<br />

<p><label>FoodStuffs added by </label><strong><%= @user.name %></strong></p>

<% @food_stuffs.each do |f| %>
  <%= link_to f.name, f %> <%= link_to 'Edit', edit_food_stuff_path(f) %>
  <br />
<% end %>