<%= stylesheet_link_tag "shared" %>

<div class="container">
  
  <br />
  <br />
  <br />
  <br />
  
  <table class="profile" summary="Profile information">
    <tr>
      <td class="main">
        <h1>
          <%= @user.name %>
        </h1>
      </td>
    </tr>
  </table>
  
  <%= image_tag('thumb_up_green.jpg', :border => 0) %>
  <%= earned_thumbs_up %>
  
  &nbsp;
  &nbsp;
  &nbsp;
  
  <%= image_tag('pencil.png', :border => 0) %>
  <%= current_user.edit_points %>

  <br />
  <br />
  <br />
  <br />
  
  <%= link_to t(:User_Show_Link_Add_foodstuff), new_food_stuff_path, :class => 'account' %>

  <br />
  <br />

  <p><%= label_tag t(:User_Show_Label_FoodStuffs_added_by) %><strong><%= @user.name %></strong></p>
  
    
  
  <% @food_stuffs.each do |f| %>
    <% if f != nil %>
      <%= link_to f.name, f, :class => 'account' %> <%= link_to t(:Button_Edit), edit_food_stuff_path(f), :class => 'account' %>
    <% end %>
    <br />
  <% end %>
  
  <br />
  <br />
  <%= link_to t(:User_Show_Label_Sign_out), signout_path, method: "delete", :class => 'account' %>
  <br />
  <%= link_to t(:Button_Home), home_index_path, :class => 'account' %>

</div>