


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    <p align="middle">
      <%= link_to image_tag('OpenFoodDBLogo.png'); %>
    </p>
    
    <br>

<table align="center">
  <tr>
    <td>
      <%= form_tag food_stuffs_path, :id => 'food_stuffs_form', :method => 'get', :remote => true do %>
        <%= text_field_tag :search, params[:search], :id => 'search_field' %>
        <%= submit_tag t(:Home_Index_Button_Search), :id => 'search_button', :name => nil %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      <%= label_tag t(:Home_Index_No_Results_Header), nil, :id => 'no_results_header' %>
    </td>
  </tr>
</table>
  <div id="food_stuffs", class="food_stuff_links">
  </div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#no_results_header').hide();
  }); 
  
  $('#food_stuffs_form').bind('ajax:success', function(evt, data) {

    var food_stuffs_div = $('#food_stuffs');
    food_stuffs_div.empty();

    var food_stuffs = data;
    
    $('#no_results_header').hide();

    if(food_stuffs.length == 0) {
      $('#no_results_header').show();
    }

    else if(food_stuffs.length == 1) {
      window.location.href = "/food_stuffs/" + 
      food_stuffs[0].id + window.location.search;
    }
    else {
      for(i in food_stuffs) {
        var food_stuff_anchor = "<a>" + food_stuffs[i].name + "</a>";
        var url = "/food_stuffs/" + food_stuffs[i].id +
         window.location.search;

        food_stuffs_div.append("<br>");
        food_stuff_anchor = $(food_stuff_anchor).attr("href", url);
        food_stuffs_div.append(food_stuff_anchor);
      }
    }
  });
</script>