    <div id="textbox">
      <p class="alignleft"><%= link_to 'Add foodstuff', new_food_stuff_path %></p>
      <p class="alignright"><%= link_to 'Sign in' %>   <%= link_to 'Register' %></p>
    </div> 
   
   
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    
    <p align="middle">
      <%= link_to image_tag('OpenFoodDBLogo.png'); %>
    </p>


  <%= form_tag food_stuffs_path, :id => 'food_stuffs_form', :method => 'get', :remote => true do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  <% end %>

  <div id="food_stuffs">
  </div>



<script type="text/javascript">
 $('#food_stuffs_form').bind('ajax:success', function(evt, data){
    
    var food_stuffs_div = $('#food_stuffs');
    food_stuffs_div.empty();

    var food_stuffs = data;
    var table = "<table>";

    for(i in food_stuffs) {
      table += "<tr>";
      table += "<td>" + food_stuffs[i].name + "</td>";
      table += "<td>" + food_stuffs[i].protein + "</td>";
      table += "</tr>";
    }

    table += "</table>";

    food_stuffs_div.append(table);

  });
</script>