    <div id="textbox">
      <p class="alignright"><%= link_to 'Sign in', new_session_path %> <%= link_to 'Create account', signup_path %></p>
    </div>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    <p align="middle">
      <%= link_to image_tag('OpenFoodDBLogo.png'); %>
    </p>

<table align="center">
  <tr>
    <td>
      <%= form_tag food_stuffs_path, :id => 'food_stuffs_form', :method => 'get', :remote => true do %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
      <% end %>
    </td>
  </tr>
</table>
  <div id="food_stuffs", class="food_stuff_links">
  </div>


<script type="text/javascript">
  $('#food_stuffs_form').bind('ajax:success', function(evt, data) {

    var food_stuffs_div = $('#food_stuffs');
    food_stuffs_div.empty();

    var food_stuffs = data;

    if(food_stuffs.length == 1) {
      window.location.href = "http://localhost:3000/" + "food_stuffs/" + food_stuffs[0].id;
    }
    else {
      for(i in food_stuffs) {

        var food_stuff_anchor = "<a>" + food_stuffs[i].name + "</a>";
        var url = "http://localhost:3000/" + "food_stuffs/" + food_stuffs[i].id; 
      
        food_stuffs_div.append("<br>");
        food_stuff_anchor = $(food_stuff_anchor).attr("href", url);
        food_stuffs_div.append(food_stuff_anchor);
      }
    }

    

  });
</script>