<html>
  <head>
  </head>
  <body>

    <div id="textbox">
      <p class="alignleft"><%= link_to 'Add foodstuff', new_food_stuff_path %></p>
      <p class="alignright"><%= link_to 'Sign in' %>   <%= link_to 'Register' %></p>
    </div> 

   
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    
    <p align="middle">
      <%= link_to image_tag('OpenFoodDBLogo.png'); %>
    </p>
    

<table align="center">
<tr>
<td>
  <%= form_tag food_stuffs_path, :action => 'search', :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %> 
  <% end %> 
</td>
</tr>
</table>

</body>

<html>