<!DOCTYPE html>
<html>
<head>
  <title>Openfooddb</title>
  <link rel="shortcut icon" href="/favicon.ico" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <% if signed_in? %>
    <% if current_page?(:controller => "users", :action => "show", :id => current_user.id) %>
    <% elsif request.path_parameters == {:controller=>"sessions", :action=>"show"} %>
    <% else %>
      <%= render 'layouts/greet_user' %>
    <% end %>
  <% else %>
    <% if current_page?(:controller => "sessions", :action => "new") == true %>
    <% elsif request.path_parameters == {:controller=>"users", :action=>"new"} %>
    <% else %>
      <%= render 'layouts/sign_in_create_account' %>
    <% end %>
  <% end %>

  <p class="alignleft">
    <table>
      <tr>
        <td>
          <%= button_to 'Swedish', switch_locale('se') %> 
        </td>
        <td>
          <%= button_to 'English', switch_locale('en') %>
        </td>
      </tr>
    </table>
  </p>


</head>
<body>

<%= yield %>

</body>
</html>