<%= form_for(@food_stuff, :html => { :multipart => true }) do |f| %>
  <% if @food_stuff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food_stuff.errors.count, "error") %> prohibited this food_stuff from being saved:</h2>

      <ul>
      <% @food_stuff.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">

    <table class="expandedTable2">
      <tr>
        <td align="left">
          <%= f.label t(:FoodStuff_Name) %>
        </td>
        <td align="middle">
          <%= f.text_field :name, :class => "field_width" %>
        </td>
      </tr>
      <tr>
        <td align="left">
          <%= label_tag t(:FoodStuff_Energy) %>
        </td>
        <td align="middle">
           <%= f.number_field :energy_kcal, :id => "energy", :class => "field_width", :step => "0.01" %>
        </td>
        <td align="right">
          <select id="energy_select", class="custom_button">
            <option value="kcal">KCal</option>
            <option value="kj">kJ</option>
          </select>
        </td>
      </tr>
      <%= render :partial => 'item2', :locals => {:f => f, :label => t(:FoodStuff_Protein), :number => :protein, :unit => "g" } %>
      <%= render :partial => 'item2', :locals => {:f => f, :label => t(:FoodStuff_Fat), :number => :fat, :unit => "g" } %>
      <%= render :partial => 'item2', :locals => {:f => f, :label => t(:FoodStuff_Carbohydrates), :number => :carbohydrates, :unit => "g" } %>
      <%= render :partial => 'item2', :locals => {:f => f, :label => t(:FoodStuff_Fibers), :number => :fibers, :unit => "g" } %>
      <%= render :partial => 'item2', :locals => {:f => f, :label => t(:FoodStuff_Salt), :number => :salt, :unit => "g" } %>
      <%= render :partial => 'item2', :locals => {:f => f, :label => t(:FoodStuff_Ash), :number => :ash, :unit => "g" } %>
      <%= render :partial => 'item2', :locals => {:f => f, :label => t(:FoodStuff_Water), :number => :water, :unit => "g" } %>
      <%= render :partial => 'item2', :locals => {:f => f, :label => t(:FoodStuff_Alcohol), :number => :alcohol, :unit => "g" } %>
    </table>
    
    <ul id="my_tree" class="filetree">
    	<li>
        <%= render :partial => 'category', :locals => {:f => f, :label => t(:FoodStuff_Category_Carbohydrates) } %>
        <ul id="children_of_0">
        	<table class="expandedTable">
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Monosaccharides), :number => :monosaccharides, :unit => "g" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Disaccharides), :number => :disaccharides, :unit => "g" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Sackaros), :number => :sackaros, :unit => "g" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Lactose), :number =>  :lactose, :unit => "g" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Whole_grain_total), :number =>  :whole_grain_total, :unit => "g" } %>
          </table>
        </ul>
      </li>
      <li>
        <%= render :partial => 'category', :locals => {:f => f, :label => t(:FoodStuff_Category_Saturated_fatty_acids) } %>
        <ul id="children_of_1">
          <table class="expandedTable">
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Total_saturated_fatty_acids), :number =>  :total_saturated_fatty_acids, :unit => "g" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Fatty_acid_40_100), :number =>  :fatty_acid_40_100, :unit => "g" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Fatty_acid_120), :number =>  :fatty_acid_120, :unit => "g" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Fatty_acid_140), :number =>  :fatty_acid_140, :unit => "g" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Fatty_acid_160), :number =>  :fatty_acid_160, :unit => "g" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Fatty_acid_180), :number =>  :fatty_acid_180, :unit => "g" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Fatty_acid_200), :number =>  :fatty_acid_200, :unit => "g" } %>
          </table>
        </ul>
      </li>
      <li>
        <%= render :partial => 'category', :locals => {:f => f, :label => t(:FoodStuff_Category_Monounsaturated_fatty_acids) } %>
        <ul id="children_of_2">
          <table class="expandedTable">
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Total_monounsaturated_fatty_acids), :number =>  :total_monounsaturated_fatty_acids, :unit => "g" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Fatty_acid_161), :number =>  :fatty_acid_161, :unit => "g" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Fatty_acid_181), :number =>  :fatty_acid_181, :unit => "g" } %>
          </table>
        </ul>
      </li>
      <li>
        <%= render :partial => 'category', :locals => {:f => f, :label => t(:FoodStuff_Category_Polyunsaturated_fatty_acids) } %>
        <ul id="children_of_3">
          <table class="expandedTable">
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Total_polyunsaturated_fatty_acids), :number =>  :total_polyunsaturated_fatty_acids, :unit => "g" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Total_trans_fatty_acids), :number =>  :total_trans_fatty_acids, :unit => "g" } %>
          </table>
        </ul>
      </li>
      <li>
        <%= render :partial => 'category', :locals => {:f => f, :label => t(:FoodStuff_Category_N6_fatty_acids) } %>
        <ul id="children_of_4">
          <table class="expandedTable">
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Total_n6_fatty_acids), :number =>  :total_n6_fatty_acids, :unit => "g" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Fatty_acid_182), :number =>  :fatty_acid_182, :unit => "g" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Fatty_acid_204), :number =>  :fatty_acid_204, :unit => "g" } %>
          </table>
        </ul>
      </li>
      <li>
        <%= render :partial => 'category', :locals => {:f => f, :label => t(:FoodStuff_Category_N3_fatty_acids) } %>
        <ul id="children_of_5">
          <table class="expandedTable">
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Total_n3_fatty_acids), :number =>  :total_n3_fatty_acids, :unit => "g" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Fatty_acid_183), :number =>  :fatty_acid_183, :unit => "g" } %>
          </table>
        </ul>
      </li>
      <li>
        <%= render :partial => 'category', :locals => {:f => f, :label => t(:FoodStuff_Category_Long_N3_fatty_acids) } %>
        <ul id="children_of_6">
          <table class="expandedTable">
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_EPA_Fatty_acid_205), :number =>  :EPA_fatty_acid_205, :unit => "g" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_DPA_Fatty_acid_225), :number =>  :DPA_fatty_acid_225, :unit => "g" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_DHA_Fatty_acid_226), :number =>  :DHA_fatty_acid_226, :unit => "g" } %>
          </table>
        </ul>
      </li>
      <li>
        <%= render :partial => 'category', :locals => {:f => f, :label => t(:FoodStuff_Category_Cholesterol) } %>
        <ul id="children_of_7">
          <table class="expandedTable">
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Cholesterol), :number =>  :cholesterol, :unit => "mg" } %>
          </table>
        </ul>
      </li>
      <li>
        <%= render :partial => 'category', :locals => {:f => f, :label => t(:FoodStuff_Category_Fatt_soluble_vitamins) } %>
        <ul id="children_of_8">
          <table class="expandedTable">
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Retinol_equivalents), :number =>  :retinol_equivalents, :unit => "" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Retinol), :number =>  :retinol, :unit => "µg" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Beta_Carotene), :number =>  :beta_carotene, :unit => "µg" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Vitamin_D), :number =>  :vitamin_d, :unit => "µg" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Vitamin_E), :number =>  :vitamin_e, :unit => "mg" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Vitamin_K), :number =>  :vitamin_k, :unit => "µg" } %>
          </table>
        </ul>
      </li>
      <li>
        <%= render :partial => 'category', :locals => {:f => f, :label => t(:FoodStuff_Category_Water_soluble_vitamins) } %>
        <ul id="children_of_9">
          <table class="expandedTable">
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Thiamine), :number =>  :thiamine, :unit => "mg" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Riboflavin), :number =>  :riboflavin, :unit => "mg" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Vitamin_C), :number =>  :vitamin_c, :unit => "mg" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Niacin), :number =>  :niacin, :unit => "mg" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Niacin_equivalents), :number =>  :niacin_equivalents, :unit => "" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Vitamin_B6), :number =>  :vitamin_b6, :unit => "mg" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Vitamin_B12), :number =>  :vitamin_b12, :unit => "µg" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Folate), :number =>  :folate, :unit => "µg" } %>
          </table>
        </ul>
      </li>
      <li>
        <%= render :partial => 'category', :locals => {:f => f, :label => t(:FoodStuff_Category_Minerals) } %>
        <ul id="children_of_10">
          <table class="expandedTable">
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Phosphorus), :number =>  :phosphorus, :unit => "mg" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Iodine), :number =>  :iodine, :unit => "µg" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Iron), :number =>  :iron, :unit => "mg" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Calcium), :number =>  :calcium, :unit => "mg" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Potassium), :number =>  :potassium, :unit => "mg" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Magnesium), :number =>  :magnesium, :unit => "mg" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Sodium), :number =>  :sodium, :unit => "mg" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Folate), :number =>  :folate, :unit => "mg" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Selenium), :number =>  :selenium, :unit => "µg" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Zinc), :number =>  :zinc, :unit => "mg" } %>
          </table>
        </ul>
      </li>
      <li>
        <%= render :partial => 'category', :locals => {:f => f, :label => t(:FoodStuff_Category_Waste) } %>
        <ul id="children_of_11">
          <table class="expandedTable">
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Waste), :number =>  :waste, :unit => "" } %>
          </table>
        </ul>
      </li>
      
      <br />
      <br />

      <table class="expandedTable2">
        <tr>
          <td align="left">
            <%= f.label t(:FoodStuff_Bar_Code) %>
          </td>
          <td align="middle">
            <%= f.text_field :bar_code_number, :class => "field_width" %>
          </td>
        </tr>
        <tr>
          <td align="left">
            <%= f.label t(:FoodStuff_Vendor) %>
          </td>
          <td align="middle">
            <%= f.text_field :vendor, :class => "field_width" %>
          </td>
        </tr>
        <tr>
          <td align="left">
            <%= f.label t(:FoodStuff_Expiration_Unopened) %>
          </td>
          <td align="middle">
            <%= f.text_field :expiration_date_unopened, :class => "field_width" %>
          </td>
        </tr>
        <tr>
          <td align="left">
            <%= f.label t(:FoodStuff_Expiration_Broached) %>
          </td>
          <td align="middle">
            <%= f.text_field :expiration_date_broached, :class => "field_width" %>
          </td>
        </tr>
      </table>
     
      
    </ul>

    </br>
    </br>
    
    <table>
      <tr>
        <td>
          <%= label_tag t(:FoodStuff_Logo) %>
        </td>
        <td>
          <%= f.file_field :logo, hidden:"hidden" %>

          <%= button_tag "Choose file", type:"button", class:"custom_button", onclick:"javascript:$('#food_stuff_logo').click();" %>
          <%= label_tag "No file chosen", nil, id:"food_stuff_logo_label_fake", onclick:"javascript:$('#food_stuff_logo').click();" %>
        </td>
      </tr>
      <tr>
        <td>
          <%= label_tag t(:FoodStuff_Image) %>
        </td>
        <td>
          <%= f.file_field :food_stuff_image, hidden:"hidden" %>

          <%= button_tag "Choose file", type:"button", class:"custom_button", onclick:"javascript:$('#food_stuff_food_stuff_image').click();" %>
          <%= label_tag "No file chosen", nil, id:"food_stuff_image_label_fake", onclick:"javascript:$('#food_stuff_food_stuff_image').click();" %>
        </td>
      </tr>
    </table>

    <br />
    <br />


    <div style="float:left;">
      <label>Foodstuff marks</label>
    </div>
    
    <br />
    
    <div style="float:left; width:150px; height:50px; overflow:auto; white-space:nowrap;">
      <% @food_stuff_marks.each do |mark| %>
        <%= content_tag :div, :id => "mark#{mark.id}", :style => 'width:25px; float:left;' do %>
          <%= image_tag mark.food_stuff_mark_image.url(:thumb), class:"mark", onclick:"javascript:mark(mark#{mark.id}, '#{mark.name}');", alt:"test" %>
        <% end %>
      <% end %>
    </div>
    
    <!-- <select id="tags_id" multiple="multiple"></select> -->
    
    <br />
    <br />
    <br />
    <br />
    
    <label>Tags</label>
    <div class="field" type="hidden">
    <%= content_tag :select, :multiple => "multiple", :class => "custom_select", :id => "tags_id" do %>
      <% @tags.each do |tag| %>
        <%= content_tag :option, :id => "tag#{tag.id}" do %>
          <%= tag.se %>
        <% end %>
      <% end %>
    <% end %>


    <br />
    <br />
    <br />
    <br />
    <br />


    <div class="field" id="ingredients" type="hidden">

      <% if @ingredients != [] %> 
        <% @ingredients.each do |ing| %>
          <p>
            <%= label_tag t(:FoodStuff_Ingredient) %>
            <%= text_field_tag "ingredient[name][]", ing.name, id:"ingredient#{ing.id}", class:"ingredients" %>
          </p>
        <% end %>
      <% else %>
          <label for="food_stuff_ingredient"><%= t(:FoodStuff_Ingredient) + ": " %></label>
          <input class="ingredients" name="ingredient[name][]" size="30" type="text" />
      <% end %>

    </div>

    <%= button_tag t(:FoodStuff_Button_Add_Ingredient), type:"button", onclick:"javascript:addIngredient();", class:"custom_button" %>


    <br />
    <br />
    <br />


    <div class="field" id="retailers" type="hidden">

      <% if @retailers != [] %>
        <% @retailers.each do |ret| %>
          <p>
            <%= label_tag t(:FoodStuff_Retailer) %>
            <%= text_field_tag "retailer[name][]", ret.name, id:"retailer#{ret.id}", class:"retailers" %>
          </p>
        <% end %>
      <% else %>
          <label for="food_stuff_retailer"><%= t(:FoodStuff_Retailer) %> </label>
          <input class="retailers" name="retailer[name][]" size="30" type="text" />
      <% end %>
    </div>
    
    
    <%= button_tag t(:FoodStuff_Button_Add_Retailer), type:"button", onclick:"javascript:addRetailer();", class:"custom_button" %>

    </br>
    </br>
    </br>
    
    <div class="field">
      <%= f.label "Details" %><br />
      <%= f.text_area :details, :style => "width:550px"%>
    </div>


    <%= f.hidden_field :energy_kcal %>
    <%= f.hidden_field :energy_kj %>
    <%= f.hidden_field :mark_names %>
    
    <%= f.hidden_field :tags %>


    <%= f.hidden_field :retailers_field %>
    <%= f.hidden_field :ingredients_field %>

    <!--   <%= label_tag "Update note" %>
    <%= f.text_field :audit_comment %>
    -->

    <div class="actions">
      <%= f.submit t(:FoodStuff_Edit_Button_Update_FoodStuff), class:"custom_button" %>
      <% end %>
    </div>
    
  </div>

  
</div>


<script id="tags_json" type="text/json">
  <%= raw @tags.to_json %>
</script>

<script type="text/javascript">

  var listOfMarkNames = [];
  var listOfTags = [];

  $(document).ready(function() {
    $("#my_tree").treeview();

    $(".folder").click();

    var tagsJSON = $("#tags_json").html();
    var tags     = $.parseJSON(tagsJSON);
  });

  var form = $('form').submit(function () {
    fill_form_with_energy_data();
    fill_form_with_mark_names();

    fill_form_with_retailers_field();
    fill_form_with_ingredients_field();
    
    fill_form_with_tags();
  });

  $('#food_stuff_logo').change(function() {

    $('#food_stuff_logo_label_fake').text(this.value.substring(12));
  }); 

  $('#food_stuff_food_stuff_image').change(function() {

    $('#food_stuff_image_label_fake').text(this.value.substring(12));
  });

  function mark(htmlId, dbName) {

    var index = jQuery.inArray(dbName, listOfMarkNames);

    if(index == -1) {
      listOfMarkNames.push(dbName);
      htmlId.style.backgroundColor = "#959595";
    }
    else {
      listOfMarkNames.splice(index, 1);
      htmlId.style.backgroundColor = "";
    }
  }
  
  function food_stuff_image_click() {
    
    $('#food_stuff_food_stuff_image').click();
  }

  function fill_form_with_mark_names() {

    $('#food_stuff_mark_names').attr('value', listOfMarkNames);
  }

  function fill_form_with_energy_data() {

    var kcal_to_kj = 4.184;
    var kj_to_kcal = 0.239;

    if($('#energy_select').attr('value') == "kcal") {

      var energy = $('#energy').attr('value');

      $('#food_stuff_energy_kcal').attr('value', $('#energy').attr('value'));
      $('#food_stuff_energy_kj').attr('value', $('#energy').attr('value') * kcal_to_kj);
    }
    else {

      $('#food_stuff_energy_kj').attr('value', $('#energy').attr('value'));
      $('#food_stuff_energy_kcal').attr('value', $('#energy').attr('value') * kj_to_kcal);
    }
  }

  function fill_form_with_retailers_field() {

    var retailers = $('.retailers');
    var retailers_field = "";

    if(retailers.length > 0)
    {
      retailers_field = retailers[0].value;

      if(retailers.length > 1)
      {
        for(var i = 1; i < retailers.length; i++)
        {
          if(retailers[i].value !== "")
          {
            retailers_field += ", " + retailers[i].value;
          }
        }
      }
    }

    $('#food_stuff_retailers_field').attr('value', retailers_field);
  }

  function fill_form_with_ingredients_field() {

    var ingredients = $('.ingredients');
    var ingredients_field = "";

    if(ingredients.length > 0)
    {
      ingredients_field = ingredients[0].value;

      if(ingredients.length > 1)
      {
        for(var i = 1; i < ingredients.length; i++)
        {
          if(ingredients[i].value !== "")
          {
            ingredients_field += ", " + ingredients[i].value;
          }
        }
      }
    }

    $('#food_stuff_ingredients_field').attr('value', ingredients_field);    
  }
  
  function fill_form_with_tags()
  {
    var options = $('#tags_id option:selected');
    var tags = "";

    options.each(function() {

      tags += $(this).attr('value') + ", ";
    });

    tags = tags.substring(0, tags.length - 2);
    $('#food_stuff_tags').attr('value', tags);
  }

  function addIngredient() {
    var ingredientDiv = $('#ingredients');

    var ingredientLabel = "<br />" + "<br />" + "<label>" + "Ingredient: " + "</label>";
    ingredientLabel = $(ingredientLabel).attr("id", "ing");
    ingredientDiv.append(ingredientLabel);

    var ingredientInput = "<input class='ingredients' name='ingredient[name][]' size='30' type='text' />";
    ingredientDiv.append(ingredientInput);
  }

  function addRetailer() {
    var retailerDiv = $('#retailers');

    var retailerLabel = "</br>" + "</br>" + "<label>" + "Retailer: " + "</label>";
    retailerLabel = $(retailerLabel).attr("id", "ret");
    retailerDiv.append(retailerLabel);

    var retailerInput = "<input class='retailers' name='retailer[name][]' size='30' type='text' />";
    retailerDiv.append(retailerInput);
  }

</script>