<%= form_for(@food_stuff) do |f| %>
  <% if @food_stuff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food_stuff.errors.count, "error") %> prohibited this food_stuff from being saved:</h2>

      <ul>
      <% @food_stuff.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <table>
    <tr>
      <td>
        <%= f.label :name %>
      </td>
      <td>
        <%= f.text_field :name %>
      </td>
    </tr>
    <tr>
      <td>
        <label>Energy</label>
      </td>
      <td>
         <input id="energy"></input>
      </td>
      <td>
        <select id="energy_select">
          <option value="kcal">KCal</option>
          <option value="kj">kJ</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :protein %>
      </td>
      <td>
        <%= f.number_field :protein %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :fat %>
      </td>
      <td>
        <%= f.number_field :fat %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :carbohydrates %>
      </td>
      <td>
        <%= f.number_field :carbohydrates %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :fibers %>
      </td>
      <td>
        <%= f.number_field :fibers %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :salt %>
      </td>
      <td>
        <%= f.number_field :salt %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :ash %>
      </td>
      <td>
        <%= f.number_field :ash %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :water %>
      </td>
      <td>
        <%= f.number_field :water %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :alcohol %>
      </td>
      <td>
        <%= f.number_field :alcohol %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :monosaccharides %>
      </td>
      <td>
        <%= f.number_field :monosaccharides %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :disaccharides %>
      </td>
      <td>
        <%= f.number_field :disaccharides %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :sackaros %>
      </td>
      <td>
        <%= f.number_field :sackaros %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :whole_grain_total %>
      </td>
      <td>
        <%= f.number_field :whole_grain_total %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :total_saturated_fatty_acids %>
      </td>
      <td>
        <%= f.number_field :total_saturated_fatty_acids %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :fatty_acid_40_100 %>
      </td>
      <td>
        <%= f.number_field :fatty_acid_40_100 %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :fatty_acid_120 %>
      </td>
      <td>
        <%= f.number_field :fatty_acid_120 %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :fatty_acid_140 %>
      </td>
      <td>
        <%= f.number_field :fatty_acid_140 %>
       </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :fatty_acid_160 %>
      </td>
      <td>
        <%= f.number_field :fatty_acid_160 %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :fatty_acid_180 %>
      </td>
      <td>
        <%= f.number_field :fatty_acid_180 %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :fatty_acid_200 %>
      </td>
      <td>
        <%= f.number_field :fatty_acid_200 %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :fatty_acid_200 %>
      </td>
      <td>
        <%= f.number_field :fatty_acid_200 %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :total_monounsaturated_fatty_acids %>
      </td>
      <td>
        <%= f.number_field :total_monounsaturated_fatty_acids %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :fatty_acid_161 %>
      </td>
      <td>
        <%= f.number_field :fatty_acid_161 %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :fatty_acid_181 %>
      </td>
      <td>
        <%= f.number_field :fatty_acid_181 %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :total_polyunsaturated_fatty_acids %>
      </td>
      <td>
        <%= f.number_field :total_polyunsaturated_fatty_acids %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :total_n6_fatty_acids %>
      </td>
      <td>
        <%= f.number_field :total_n6_fatty_acids %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :fatty_acid_182 %>
      </td>
      <td>
        <%= f.number_field :fatty_acid_182 %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :fatty_acid_204 %>
      </td>
      <td>
        <%= f.number_field :fatty_acid_204 %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :total_n3_fatty_acids %>
      </td>
      <td>
        <%= f.number_field :total_n3_fatty_acids %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :EPA_fatty_acid_205 %>
      </td>
      <td>
        <%= f.number_field :EPA_fatty_acid_205 %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :DPA_fatty_acid_225 %>
      </td>
      <td>
        <%= f.number_field :DPA_fatty_acid_225 %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :DHA_fatty_acid_226 %>
      </td>
      <td>
        <%= f.number_field :DHA_fatty_acid_226 %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :total_trans_fatty_acids %>
      </td>
      <td>
        <%= f.number_field :total_trans_fatty_acids %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :cholesterol %>
      </td>
      <td>
        <%= f.number_field :cholesterol %>
      </td>
      <td>
        <label>mg</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :retinol_equivalents %>
      </td>
      <td>
        <%= f.number_field :retinol_equivalents %>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :retinol %>
      </td>
      <td>
        <%= f.number_field :retinol %>
      </td>
      <td>
        <label>µg</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :beta_carotene %>
      </td>
      <td>
        <%= f.number_field :beta_carotene %>
      </td>
      <td>
        <label>µg</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :vitamin_d %>
      </td>
      <td>
        <%= f.number_field :vitamin_d %>
      </td>
      <td>
        <label>µg</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :vitamin_e %>
      </td>
      <td>
        <%= f.number_field :vitamin_e %>
      </td>
      <td>
        <label>mg</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :vitamin_k %>
      </td>
      <td>
        <%= f.number_field :vitamin_k %>
      </td>
      <td>
        <label>µg</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :thiamine %>
      </td>
      <td>
        <%= f.number_field :thiamine %>
      </td>
      <td>
        <label>mg</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :riboflavin %>
      </td>
      <td>
        <%= f.number_field :riboflavin %>
      </td>
      <td>
        <label>mg</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :vitamin_c %>
      </td>
      <td>
        <%= f.number_field :vitamin_c %>
      </td>
      <td>
        <label>mg</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :niacin %>
      </td>
      <td>
        <%= f.number_field :niacin %>
      </td>
      <td>
        <label>mg</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :niacin_equivalents %>
      </td>
      <td>
        <%= f.number_field :niacin_equivalents %>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :vitamin_b6 %>
      </td>
      <td>
        <%= f.number_field :vitamin_b6 %>
      </td>
      <td>
        <label>mg</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :vitamin_b12 %>
      </td>
      <td>
        <%= f.number_field :vitamin_b12 %>
      </td>
      <td>
        <label>µg</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :folate %>
      </td>
      <td>
        <%= f.number_field :folate %>
      </td>
      <td>
        <label>µg</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :phosphorus %>
      </td>
      <td>
        <%= f.number_field :phosphorus %>
      </td>
      <td>
        <label>mg</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :iodine %>
      </td>
      <td>
        <%= f.number_field :iodine %>
      </td>
      <td>
        <label>µg</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :iron %>
      </td>
      <td>
        <%= f.number_field :iron %>
      </td>
      <td>
        <label>mg</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :calcium %>
      </td>
      <td>
        <%= f.number_field :calcium %>
      </td>
      <td>
        <label>mg</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :potassium %>
      </td>
      <td>
        <%= f.number_field :potassium %>
      </td>
      <td>
        <label>mg</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :magnesium %>
      </td>
      <td>
        <%= f.number_field :magnesium %>
      </td>
      <td>
        <label>mg</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :sodium %>
      </td>
      <td>
        <%= f.number_field :sodium %>
      </td>
      <td>
        <label>mg</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label :selenium %>
      </td>
      <td>
        <%= f.number_field :selenium %>
      </td>
      <td>
        <label>µg</label>
      </td>
    </tr>
    <tr>
      <td>
         <%= f.label :zinc %>
      </td>
      <td>
        <%= f.number_field :zinc %>
      </td>
      <td>
        <label>mg</label>
      </td>
    </tr>
    <tr>
      <td>
         <%= f.label :waste %>
      </td>
      <td>
        <%= f.number_field :waste %>
      </td>
    </tr>
  </table>
  

  <%= f.hidden_field :energy_kcal %>
  <%= f.hidden_field :energy_kj %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<script type="text/javascript">
  var form = $('#new_food_stuff').submit(function () {
    fill_form_with_energy_data();
  });


  function fill_form_with_energy_data() {

    var kcal_to_kj = 4.184;
    var kj_to_kcal = 0.239;

    if($('#energy_select').attr('value') == "kcal") {

      var energy = $('#energy').attr('value');

      $('#food_stuff_energy_kcal').attr('value', $('#energy').attr('value'));
      $('#food_stuff_energy_kj').attr('value', $('#energy').attr('value') * kcal_to_kj);

    }
    else {

      $('#food_stuff_energy_kj').attr('value', $('#energy').attr('value'));
      $('#food_stuff_energy_kcal').attr('value', $('#energy').attr('value') * kj_to_kcal);
      
    }
  }
  
</script>