<%= stylesheet_link_tag "shared" %>
<%= stylesheet_link_tag "categories_edit" %>
<%= stylesheet_link_tag "food_stuffs" %>

<%= form_for(@food_stuff, :html => { :multipart => true }) do |f| %>
  <% if @food_stuff.errors.any? %>
    <%= content_tag :div, :id => "error_explanation" do %>
      <%= content_tag :h2 do %>
        <%= pluralize(@food_stuff.errors.count, "error") %> 
        prohibited this food_stuff from being saved:
      <% end %>


      <%= content_tag :ul do %>
        <% @food_stuff.errors.full_messages.each do |msg| %>
          <%= content_tag :li do %>
            <%= msg %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= content_tag :div, :class => "container" do %>
    <%= content_tag :table, :class => "expandedTable2" do %>
      <%= content_tag :tr do %>
        <%= content_tag :td, :align => "left" do %>
        <% end %>
        <%= content_tag :td, :align => "middle" do %>
        <% end %>
        <%= content_tag :td, :align => "right" do %>
          <%= label_tag "", :class => "field_width" do %>
            <%= content_tag :b, t(:FoodStuff_Per_Hundred_Grams) %>
            <% end %>  
          <% end %>
        <% end %>
      <%= content_tag :tr do %>
        <%= content_tag :td, :align => "left" do %>
          <%= f.label t(:FoodStuff_Name) %>
        <% end %>
        <%= content_tag :td, :align => "middle" do %>
          <%= f.text_field :name, :class => "field_width" %>
        <% end %>
      <% end %>
      <%= content_tag :tr do %>
        <%= content_tag :td, :align => "left" do %>
          <%= label_tag t(:FoodStuff_Energy) %>
        <% end %>
        <%= content_tag :td, :align => "middle" do %>
           <%= f.number_field :energy_kcal, :id => "energy", :class => "field_width", :step => "0.000001" %>
        <% end %>
        <%= content_tag :td, :align => "right" do %>
          <%= content_tag :select, :id => "energy_select", :class => "custom_button" do %>
            <%= content_tag :option, :value => "kcal" do %>
              KCal
            <% end %>
            <%= content_tag :option, :value => "kJ" do %>
              kJ
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      
      <%= render :partial => 'item2', :locals => {:f => f, :label => t(:FoodStuff_Protein), :number => :protein, :unit => "g" } %>
      <%= render :partial => 'item2', :locals => {:f => f, :label => t(:FoodStuff_Fat), :number => :fat, :unit => "g" } %>
      <%= render :partial => 'item2', :locals => {:f => f, :label => t(:FoodStuff_Carbohydrates), :number => :carbohydrates, :unit => "g" } %>
      <%= render :partial => 'item2', :locals => {:f => f, :label => t(:FoodStuff_Fibers), :number => :fibers, :unit => "g" } %>
      <%= render :partial => 'item2', :locals => {:f => f, :label => t(:FoodStuff_Salt), :number => :salt, :unit => "g" } %>
      <%= render :partial => 'item2', :locals => {:f => f, :label => t(:FoodStuff_Ash), :number => :ash, :unit => "g" } %>
      <%= render :partial => 'item2', :locals => {:f => f, :label => t(:FoodStuff_Water), :number => :water, :unit => "g" } %>
      <%= render :partial => 'item2', :locals => {:f => f, :label => t(:FoodStuff_Alcohol), :number => :alcohol, :unit => "g" } %>
    <% end %>
    
    <%= content_tag :ul, :id => "my_tree", :class => "filetree" do %>
      <%= content_tag :li do %>
        <%= render :partial => 'category', :locals => {:f => f, :label => t(:FoodStuff_Category_Carbohydrates) } %>
          <%= content_tag :ul, :id => "children_of_0" do %>
          <%= content_tag :table, :class => "expandedTable" do %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Monosaccharides), :number => :monosaccharides, :unit => "g" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Disaccharides), :number => :disaccharides, :unit => "g" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Sackaros), :number => :sackaros, :unit => "g" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Lactose), :number =>  :lactose, :unit => "g" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Whole_grain_total), :number =>  :whole_grain_total, :unit => "g" } %>
          <% end %>
        <% end %>
      <% end %>
      <%= content_tag :li do %>
        <%= render :partial => 'category', :locals => {:f => f, :label => t(:FoodStuff_Category_Saturated_fatty_acids) } %>
        <%= content_tag :ul, :id => "children_of_1" do %>
          <%= content_tag :table, :class => "expandedTable" do %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Total_saturated_fatty_acids), :number =>  :total_saturated_fatty_acids, :unit => "g" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Fatty_acid_40_100), :number =>  :fatty_acid_40_100, :unit => "g" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Fatty_acid_120), :number =>  :fatty_acid_120, :unit => "g" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Fatty_acid_140), :number =>  :fatty_acid_140, :unit => "g" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Fatty_acid_160), :number =>  :fatty_acid_160, :unit => "g" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Fatty_acid_180), :number =>  :fatty_acid_180, :unit => "g" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Fatty_acid_200), :number =>  :fatty_acid_200, :unit => "g" } %>
          <% end %>
        <% end %>
      <% end %>
      <%= content_tag :li do %>
        <%= render :partial => 'category', :locals => {:f => f, :label => t(:FoodStuff_Category_Monounsaturated_fatty_acids) } %>
        <%= content_tag :ul, :id => "children_of_2" do %>
          <%= content_tag :table, :class => "expandedTable" do %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Total_monounsaturated_fatty_acids), :number =>  :total_monounsaturated_fatty_acids, :unit => "g" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Fatty_acid_161), :number =>  :fatty_acid_161, :unit => "g" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Fatty_acid_181), :number =>  :fatty_acid_181, :unit => "g" } %>
          <% end %>
        <% end %>
      <% end %>
      <%= content_tag :li do %>
        <%= render :partial => 'category', :locals => {:f => f, :label => t(:FoodStuff_Category_Polyunsaturated_fatty_acids) } %>
          <%= content_tag :ul, :id => "children_of_3" do %>
          <%= content_tag :table, :class => "expandedTable" do %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Total_polyunsaturated_fatty_acids), :number =>  :total_polyunsaturated_fatty_acids, :unit => "g" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Total_trans_fatty_acids), :number =>  :total_trans_fatty_acids, :unit => "g" } %>
          <% end %>
        <% end %>
      <% end %>
      <%= content_tag :li do %>
        <%= render :partial => 'category', :locals => {:f => f, :label => t(:FoodStuff_Category_N6_fatty_acids) } %>
        <%= content_tag :ul, :id => "children_of_4" do %>
          <%= content_tag :table, :class => "expandedTable" do %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Total_n6_fatty_acids), :number =>  :total_n6_fatty_acids, :unit => "g" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Fatty_acid_182), :number =>  :fatty_acid_182, :unit => "g" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Fatty_acid_204), :number =>  :fatty_acid_204, :unit => "g" } %>
          <% end %>
        <% end %>
      <% end %>
      <%= content_tag :li do %>
        <%= render :partial => 'category', :locals => {:f => f, :label => t(:FoodStuff_Category_N3_fatty_acids) } %>
        <%= content_tag :ul, :id => "children_of_5" do %>
          <%= content_tag :table, :class => "expandedTable" do %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Total_n3_fatty_acids), :number =>  :total_n3_fatty_acids, :unit => "g" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Fatty_acid_183), :number =>  :fatty_acid_183, :unit => "g" } %>
          <% end %>
        <% end %>
      <% end %>
      <%= content_tag :li do %>
        <%= render :partial => 'category', :locals => {:f => f, :label => t(:FoodStuff_Category_Long_N3_fatty_acids) } %>
        <%= content_tag :ul, :id => "children_of_6" do %>
          <%= content_tag :table, :class => "expandedTable" do %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_EPA_Fatty_acid_205), :number =>  :EPA_fatty_acid_205, :unit => "g" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_DPA_Fatty_acid_225), :number =>  :DPA_fatty_acid_225, :unit => "g" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_DHA_Fatty_acid_226), :number =>  :DHA_fatty_acid_226, :unit => "g" } %>
          <% end %>
        <% end %>
      <% end %>
      <%= content_tag :li do %>
        <%= render :partial => 'category', :locals => {:f => f, :label => t(:FoodStuff_Category_Cholesterol) } %>
        <%= content_tag :ul, :id => "children_of_7" do %>
          <%= content_tag :table, :class => "expandedTable" do %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Cholesterol), :number =>  :cholesterol, :unit => "mg" } %>
          <% end %>
        <% end %>
      <% end %>
      <%= content_tag :li do %>
        <%= render :partial => 'category', :locals => {:f => f, :label => t(:FoodStuff_Category_Fatt_soluble_vitamins) } %>
        <%= content_tag :ul, :id => "children_of_8" do %>
          <%= content_tag :table, :class => "expandedTable" do %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Retinol_equivalents), :number =>  :retinol_equivalents, :unit => "" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Retinol), :number =>  :retinol, :unit => "µg" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Beta_Carotene), :number =>  :beta_carotene, :unit => "µg" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Vitamin_D), :number =>  :vitamin_d, :unit => "µg" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Vitamin_E), :number =>  :vitamin_e, :unit => "mg" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Vitamin_K), :number =>  :vitamin_k, :unit => "µg" } %>
          <% end %>
        <% end %>
      <% end %>
      <%= content_tag :li do %>
        <%= render :partial => 'category', :locals => {:f => f, :label => t(:FoodStuff_Category_Water_soluble_vitamins) } %>
        <%= content_tag :ul, :id => "children_of_9" do %>
          <%= content_tag :table, :class => "expandedTable" do %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Thiamine), :number =>  :thiamine, :unit => "mg" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Riboflavin), :number =>  :riboflavin, :unit => "mg" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Vitamin_C), :number =>  :vitamin_c, :unit => "mg" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Niacin), :number =>  :niacin, :unit => "mg" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Niacin_equivalents), :number =>  :niacin_equivalents, :unit => "" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Vitamin_B6), :number =>  :vitamin_b6, :unit => "mg" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Vitamin_B12), :number =>  :vitamin_b12, :unit => "µg" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Folate), :number =>  :folate, :unit => "µg" } %>
          <% end %>
        <% end %>
      <% end %>
      <%= content_tag :li do %>
        <%= render :partial => 'category', :locals => {:f => f, :label => t(:FoodStuff_Category_Minerals) } %>
        <%= content_tag :ul, :id => "children_of_10" do %>
          <%= content_tag :table, :class => "expandedTable" do %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Phosphorus), :number =>  :phosphorus, :unit => "mg" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Iodine), :number =>  :iodine, :unit => "µg" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Iron), :number =>  :iron, :unit => "mg" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Calcium), :number =>  :calcium, :unit => "mg" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Potassium), :number =>  :potassium, :unit => "mg" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Magnesium), :number =>  :magnesium, :unit => "mg" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Sodium), :number =>  :sodium, :unit => "mg" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Folate), :number =>  :folate, :unit => "mg" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Selenium), :number =>  :selenium, :unit => "µg" } %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Zinc), :number =>  :zinc, :unit => "mg" } %>
          <% end %>
        <% end %>
      <% end %>
      <%= content_tag :li do %>
        <%= render :partial => 'category', :locals => {:f => f, :label => t(:FoodStuff_Category_Waste) } %>
        <%= content_tag :ul, :id => "children_of_11" do %>
          <%= content_tag :table, :class => "expandedTable" do %>
            <%= render :partial => 'item', :locals => {:f => f, :label => t(:FoodStuff_Waste), :number =>  :waste, :unit => "" } %>
          <% end %>
        <% end %>
      <% end %>
      
      <br />
      <br />

      <%= content_tag :table, :class => "expandedTable2" do %>
        <%= content_tag :tr do %>
          <%= content_tag :td, :align => "left" do %>
            <%= f.label t(:FoodStuff_Bar_Code) %>
          <% end %>
          <%= content_tag :td, :align => "middle" do %>
            <%= f.text_field :bar_code_number, :class => "field_width" %>
          <% end %>
        <% end %>
        <%= content_tag :tr do %>
          <%= content_tag :td, :align => "left" do %>
            <%= f.label t(:FoodStuff_Vendor) %>
          <% end %>
          <%= content_tag :td, :align => "middle" do %>
            <%= f.text_field :vendor, :class => "field_width" %>
          <% end %>
        <% end %>
        <%= content_tag :tr do %>
          <%= content_tag :td, :align => "left" do %>
            <%= f.label t(:FoodStuff_Expiration_Unopened) %>
          <% end %>
          <%= content_tag :td, :align => "middle" do %>
            <%= f.text_field :expiration_date_unopened, :class => "field_width" %>
          <% end %>
        <% end %>
        <%= content_tag :tr do %>
          <%= content_tag :td, :align => "left" do %>
            <%= f.label t(:FoodStuff_Expiration_Broached) %>
          <% end %>
          <%= content_tag :td, :align => "middle" do %>
            <%= f.text_field :expiration_date_broached, :class => "field_width" %>
          <% end %>
        <% end %>
        <%= render :partial => 'item2', :locals => {:f => f, :label => t(:FoodStuff_Weight), :number =>  :weight, :unit => "g" } %>
      <% end %>
     
    <% end %>

    </br>
    </br>
    
    <%= content_tag :table do %>
      <%= content_tag :tr do %>
        <%= content_tag :td do %>
          <%= label_tag t(:FoodStuff_Logo) %>
        <% end %>
        <%= content_tag :td do %>
          <%= f.file_field :logo, hidden:"hidden" %>

          <%= button_tag "Choose file", type:"button", class:"custom_button", onclick:"javascript:$('#food_stuff_logo').click();" %>
          <%= label_tag "No file chosen", nil, id:"food_stuff_logo_label_fake", onclick:"javascript:$('#food_stuff_logo').click();" %>
        <% end %>
      <% end %>
      <%= content_tag :tr do %>
        <%= content_tag :td do %>
          <%= label_tag t(:FoodStuff_Image) %>
        <% end %>
        <%= content_tag :td do %>
          <%= f.file_field :food_stuff_image, hidden:"hidden" %>

          <%= button_tag "Choose file", type:"button", class:"custom_button", onclick:"javascript:$('#food_stuff_food_stuff_image').click();" %>
          <%= label_tag "No file chosen", nil, id:"food_stuff_image_label_fake", onclick:"javascript:$('#food_stuff_food_stuff_image').click();" %>
        <% end %>
      <% end %>
    <% end %>

    <br />
    <br />
    
    <%= content_tag :div, :style => "float: left;" do %>
      <%= label_tag t(:FoodStuff_Marks) %>
    <% end %>
    
    <br />
    
    <div style="float:left; width:150px; height:50px; overflow:auto; white-space:nowrap;">
      <% @food_stuff_marks.each do |mark| %>
        <%= content_tag :div, :id => "mark#{mark.id}", :style => 'width:25px; float:left;' do %>
          <%= image_tag mark.food_stuff_mark_image.url(:thumb), class:"mark", onclick:"javascript:mark(mark#{mark.id}, '#{mark.name}');", alt:"test" %>
        <% end %>
      <% end %>
    </div>
    
    <!-- <select id="tags_id" multiple="multiple"></select> -->
    
    <br />
    <br />
    <br />
    <br />

    <%= label_tag t(:FoodStuff_Tags) %>
    
    <%= content_tag :div, :class => "field", :type => "hidden" do %>
    <% end %>

    <%= content_tag :select, :multiple => "multiple", :class => "custom_select_multiple", :id => "tags_id" do %>
      <% if @tags != nil %>
        <% @tags.each do |tag| %>
          <%= content_tag :option, :id => "tag#{tag.id}" do %>
            <%= tag.se %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <br />
    <br />
    <br />
    <br />
    
    <%= content_tag :label, t(:FoodStuff_Storage) %>
    <br />
    <%= content_tag :select, :class => "custom_select", :id => "storage_id" do %>
      <%= content_tag :option do %>
      <% end %>
      <%= content_tag :option, :id => "Fridge" do %>
        <%= t(:FoodStuff_Storage_Fridge) %>
      <% end %>
      <%= content_tag :option, :id => "Freezer" do %>
        <%= t(:FoodStuff_Storage_Freezer) %>
      <% end %>
      <%= content_tag :option, :id => "Cupboard" do %>
        <%= t(:FoodStuff_Storage_Cupboard) %>
      <% end %>
    <% end %>
    
    <br />
    <br />
    <br />
    <br />
    <br />


    <%= content_tag :div, :class => "field", :id => "ingredients", :type => "hidden" do %>

      <% if @ingredients != [] %> 
        <% @ingredients.each do |ing| %>
          <%= content_tag :p do %>
            <%= label_tag t(:FoodStuff_Ingredient) %>
            <%= text_field_tag "ingredient[name][]", ing.name, id:"ingredient#{ing.id}", class:"ingredients" %>
          <% end %>
        <% end %>
      <% else %>
      <%= label_tag 'food_stuff_ingredient', t(:FoodStuff_Ingredient) + ": " %>
          <%= content_tag :input, :class => "ingredients", :name => "ingredient[name][]", :size => "30", :type => "text" do %>
          <% end %>
      <% end %>

    <% end %>

    <%= button_tag t(:FoodStuff_Button_Add_Ingredient), type:"button", onclick:"javascript:addIngredient();", class:"custom_button" %>


    <br />
    <br />
    <br />

    <%= content_tag :div, :class => "field", :id => "retailers", :type => "hidden" do %>

      <% if @retailers != [] %>
        <% @retailers.each do |ret| %>
          <%= content_tag :p do %>
            <%= label_tag t(:FoodStuff_Retailer) %>
            <%= text_field_tag "retailer[name][]", ret.name, id:"retailer#{ret.id}", class:"retailers" %>
          <% end %>
        <% end %>
      <% else %>
        <%= label_tag 'food_stuff_retailer', t(:FoodStuff_Retailer) + ": " %>
          <%= content_tag :input, :class => "retailers", :name => "retailer[name][]", :size => "30", :type => "text" do %>
          <% end %>
      <% end %>
    <% end %> 

    <%= button_tag t(:FoodStuff_Button_Add_Retailer), type:"button", onclick:"javascript:addRetailer();", class:"custom_button" %>

    </br>
    </br>
    </br>

<!--
    <nav>
      <ul>
        <li><a href="##">a1</a>
          <ul>
            <li id="cat_b1" class="confirm" onclick="select_category('#cat_b1')"><a href="##">b1</a></li>
            <li id="cat_b2" class="noconfirm" onclick="select_category('#cat_b2')"><a href="##">b2</a></li>
            <li id="cat_c1" class="confirm" onclick="select_category('#cat_c1')"><a href="##">c1</a>
              <ul>
                <li id="cat_d1" class="noconfirm" onclick="select_category('#cat_d1')"><a href="##">d1</a></li>
                <li id="cat_d2" class="confirm" onclick="select_category('#cat_d2')"><a href="##">d2</a>
                  <ul>
                    <li id="cat_e1" class="noconfirm" onclick="select_category('#cat_e1')"><a href="##">e1</a></li>
                    <li id="cat_e2" class="confirm" onclick="select_category('#cat_e2')"><a href="##">e2</a></li>
                  </ul>
                </li>
                <li id="cat_f1" class="noconfirm" onclick="select_category('#cat_f1')"><a href="##">f1</a>
                  <ul>
                    <li id="cat_g1" class="confirm" onclick="select_category('#cat_g1')"><a href="##">g1</a></li>
                    <li id="cat_g2" class="noconfirm" onclick="select_category('#cat_g2')"><a href="##">g2</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
-->
    <%= content_tag :nav, :id => "categories" do %>
    <% end %>

    <%= content_tag :div, :class => "field" do %>
      <%= f.label t(:FoodStuff_Details) %><br />
      <%= f.text_area :details, :style => "width:550px"%>
    <% end %>

    <%= f.hidden_field :energy_kcal %>
    <%= f.hidden_field :energy_kj %>
    <%= f.hidden_field :mark_names %>

    <%= f.hidden_field :tags %>
    <%= f.hidden_field :storage %>

    <%= f.hidden_field :retailers_field %>
    <%= f.hidden_field :categories_field %>

    <%= content_tag :div, :id => "categories_input_field" do %>
    <% end %>
    
    <!--   <%= label_tag "Update note" %>
    <%= f.text_field :audit_comment %>
    -->

    <%= content_tag :div, :class => "actions" do %>
      <%= f.submit t(:FoodStuff_Edit_Button_Update_FoodStuff), class:"custom_button" %>
    <% end %>
    
  <% end %>
<% end %>

<script id="tags_json" type="text/json">
  <%= raw @tags.to_json %>
</script>

<script id="food_stuff_tags_json" type="text/json">
  <%= raw @food_stuff_tags.to_json %>
</script>

<script id="food_stuff_storage_json" type="text/json">
  <%= raw @food_stuff_storage.to_json %>
</script>

<script id="food_stuff_marks_json" type="text/json">
  <%= raw @food_stuff_marks.to_json %>
</script>

<script id="categories_json" type="text/json">
  <%= raw @categories.to_json %>
</script>

<script id="food_stuff_mark_names_json" type="text/json">
  <%= raw @food_stuff_mark_names.to_json %>
</script>

<script id="food_stuff_categories_json" type="text/json">
  <%= raw @food_stuff_categories.to_json %>
</script>


<script type="text/javascript">

  var listOfMarkNames = [];
  var listOfTags = [];
  var global_tree = null;
  var global_tags = null;
  var global_categories = null;
  var global_food_stuff_categories = null;

  $(document).ready(function() {
    $("#my_tree").treeview();

    $(".folder").click();

    var tagsJSON = $("#tags_json").html();
    global_tags  = $.parseJSON(tagsJSON);

    var food_stuff_marksJSON = $("#food_stuff_marks_json").html();
    var food_stuff_marks     = $.parseJSON(food_stuff_marksJSON);
    
    var categoriesJSON = $("#categories_json").html();
    var categories     = $.parseJSON(categoriesJSON);
    global_categories = categories.slice();
    
    var food_stuff_categoriesJSON = $("#food_stuff_categories_json").html();
    global_food_stuff_categories  = $.parseJSON(food_stuff_categoriesJSON);

    var food_stuff_mark_namesJSON = $("#food_stuff_mark_names_json").html();
    var food_stuff_mark_names     = $.parseJSON(food_stuff_mark_namesJSON);
    
    var food_stuff_tagsJSON = $("#food_stuff_tags_json").html();
    food_stuff_tags         = $.parseJSON(food_stuff_tagsJSON);
    
    var food_stuff_storageJSON = $("#food_stuff_storage_json").html();
    food_stuff_storage         = $.parseJSON(food_stuff_storageJSON);
    

    fill_in_saved_food_stuff_marks(food_stuff_marks, food_stuff_mark_names);
    fill_in_saved_food_stuff_tags(food_stuff_tags);
    fill_in_saved_food_stuff_storage(food_stuff_storage);
    
    global_tree = categories_json_to_tree(categories);
    
    treeToHTML(global_tree);

    fill_in_saved_food_stuff_categories();
  });

  var form = $('form').submit(function () {
    fill_form_with_energy_data();

    fill_form_with_mark_names();

    fill_form_with_retailers_field();
    fill_form_with_ingredients_field();
    
    fill_form_with_tags();
    fill_form_with_storage();
    
    fill_form_with_categories();
    fill_form_with_categories_field();
    
  });

  $('#food_stuff_logo').change(function() {

    $('#food_stuff_logo_label_fake').text(this.value.substring(12));
  });

  $('#food_stuff_food_stuff_image').change(function() {

    $('#food_stuff_image_label_fake').text(this.value.substring(12));
  });
  
  
  function buildTree(categories_json)
  {
    var rootNode = new Node("Categories", null);

    var node1 = new Node("Meat", rootNode);
    var node2 = new Node("Fish", rootNode);

    var node3 = new Node("Pork", node1);
    var node4 = new Node("Lamb", node1);
    
    var node5 = new Node("Meatballs", node4);
    var node6 = new Node("Steak", node4);
    var node7 = new Node("Sausage", node4);

    //rootNode.printTree();
    return rootNode;
  }

  function treeToHTMLHelper(tree)
  {
    var listElements = [];
    
    var id = "cat_" + tree.value;
    
    var class_ = "noconfirm";
    
    if(tree.value === "Categories")
    {
      class_ = "##";
    }
    
    var value = tree.value.replace(/_/g, " ");
    
    listElements += "<li" + " id=" + id + " class=" + class_ + " onclick=\"select_category(\'#" + id + "\')\"" + "><a href='##'>" + value + "</a>";

    if(tree.hasChildren() === true)
    {
      listElements += "<ul>";

      for(var i = 0; i < tree.children.length; i++)
      {
        listElements += treeToHTMLHelper(tree.children[i]);
      }
      
      listElements += "</ul>";
    }
    
    listElements += "</li>";
    
    return listElements;
  }
  

  function treeToHTML(tree)
  {
    var nav = $("#categories");
    
    var treeToHTML = "<ul>";
    treeToHTML += treeToHTMLHelper(tree);
    treeToHTML += "</ul>";

    nav.append(treeToHTML);
  }

  var global_category_selected = false;

  function select_category(category_id) {

    if(category_id === "#cat_Categories")
    {
      global_category_selected = false;
      return;
    }
    if(global_category_selected === false)
    {
      var html_tag = $(category_id);
      var is_confirm = html_tag.attr("class");
      
      var node = global_tree.lookup(category_id);

      if(is_confirm === "confirm")
      {
        noconfirm_node_and_maybe_parents(node);
      }
      else if(is_confirm === "noconfirm")
      {
        confirm_node_and_parents(node);
      }

      global_category_selected = true;
    }
  }

  function is_any_children_confirmed(node)
  {
    if((node.children === null) || (node.children.length === 0))
    {
      return false;
    }

    for(var i = 0; i < node.children.length; i++)
    {
      var id = "#cat_" + node.children[i].value;
      var is_confirmed = $(id).attr("class");
      
      if(is_confirmed === "confirm")
      {
        return true;
      }
    }

    return false;
  }
  
  function is_relatives_confirmed(node)
  {
    var parent = node.parent;

    for(var i = 0; i < parent.children.length; i++)
    {
      var id = "#cat_" + parent.children[i].value;
      var is_confirmed = $(id).attr("class");

      if(is_confirmed === "noconfirm")
      {
        return false;
      }
    }
    
    return true;
  }
  
  function is_relatives_noconfirmed(node)
  {
    var parent = node.parent;

    for(var i = 0; i < parent.children.length; i++)
    {
      var id = "#cat_" + parent.children[i].value;
      var is_confirmed = $(id).attr("class");

      if((is_confirmed === "confirm") && (parent.children[i].value !== node.value))
      {
        return false;
      }
    }
    
    return true;
  }

  function noconfirm_node_and_maybe_parents(node)
  {
    if(is_any_children_confirmed(node))
    {
      return;
    }
    
    var value = node.value.replace(/ /g, "_");

    var id = "#cat_" + value;
    $(id).attr("class", "noconfirm");

    var parent = node.parent;

    if((parent !== null) && (is_relatives_noconfirmed(node)))
    {
      confirm_or_noconfirm_node_and_parents(node, "noconfirm");
    }
  }

  function confirm_node_and_parents(node)
  {
    confirm_or_noconfirm_node_and_parents(node, "confirm");
  }

  function confirm_or_noconfirm_node_and_parents(node, confirm_or_noconfirm)
  {
    if(node.parent !== null)
    {
      var value = node.value.replace(/ /g, "_");
      
      id = "#cat_" + value;
      $(id).attr("class", confirm_or_noconfirm);
    
      confirm_or_noconfirm_node_and_parents(node.parent, confirm_or_noconfirm);
    }
  }

  function fill_in_saved_food_stuff_marks(food_stuff_marks, food_stuff_mark_names) {
    
    var names = food_stuff_mark_names.split(",");
    
    for(var i = 0; i < names.length; i++)
    {
      for(var j = 0; j < food_stuff_marks.length; j++)
      {
        if(names[i] === food_stuff_marks[j].name)
        {
           var mark_id = $('#mark' + food_stuff_marks[j].id);
           mark(mark_id[0], food_stuff_marks[j].name);
        }
      }
    }
  }
  
  function find_tag_name_by_id(tag_name) {
    
    for(var i = 0; i < global_tags.length; i++)
    {
      if(global_tags[i].se === tag_name || global_tags[i].en === tag_name)
      {
        return global_tags[i].id;
      }
    }
    
    return null;
  }
  
  function fill_in_saved_food_stuff_tags(food_stuff_tags) {

    var tags = food_stuff_tags.split(",");
    
    for(var i = 0; i < tags.length; i++)
    {
      tag_id = find_tag_name_by_id(tags[i])
      $('#tag' + tag_id).attr('selected', 'selected');
    }
  }
  
  function fill_in_saved_food_stuff_storage(food_stuff_storage)
  {
    $('#' + food_stuff_storage).attr('selected', 'selected');
  }
  
  function find_category_name_by_id(categories, category_id)
  {
    for(var i = 0; i < categories.length; i++)
    {
      if(categories[i].id === category_id)
      {
        return categories[i].name;
      }
    }
    
    return null;
  }
  
  function fill_in_saved_food_stuff_categories()
  {
    for(var i = 0; i < global_food_stuff_categories.length; i++)
    {
      var category_name = find_category_name_by_id(global_categories, global_food_stuff_categories[i].categories_id);
      category_name = category_name.replace(/ /g, "_");
      
      $('#cat_' + category_name).attr('class', 'confirm');
    }
  }

  function mark(htmlId, dbName) {

    var index = jQuery.inArray(dbName, listOfMarkNames);

    if(index == -1) {
      listOfMarkNames.push(dbName);
      htmlId.style.backgroundColor = "#d0cfcf";
    }
    else {
      listOfMarkNames.splice(index, 1);
      htmlId.style.backgroundColor = "";
    }
  }

  function food_stuff_image_click() {
    
    $('#food_stuff_food_stuff_image').click();
  }

  function fill_form_with_mark_names() {

    $('#food_stuff_mark_names').attr('value', listOfMarkNames);
  }

  function fill_form_with_energy_data() {

    var kcal_to_kj = 4.184;
    var kj_to_kcal = 0.239;

    if($('#energy_select').attr('value') == "kcal") {

      var energy = $('#energy').attr('value');

      $('#food_stuff_energy_kcal').attr('value', $('#energy').attr('value'));
      $('#food_stuff_energy_kj').attr('value', $('#energy').attr('value') * kcal_to_kj);
    }
    else {

      $('#food_stuff_energy_kj').attr('value', $('#energy').attr('value'));
      $('#food_stuff_energy_kcal').attr('value', $('#energy').attr('value') * kj_to_kcal);
    }
  }

  function fill_form_with_retailers_field() {

    var retailers = $('.retailers');
    var retailers_field = "";

    if(retailers.length > 0)
    {
      retailers_field = retailers[0].value;

      if(retailers.length > 1)
      {
        for(var i = 1; i < retailers.length; i++)
        {
          if(retailers[i].value !== "")
          {
            retailers_field += ", " + retailers[i].value;
          }
        }
      }
    }

    $('#food_stuff_retailers_field').attr('value', retailers_field);
  }
  
  function fill_form_with_ingredients_field() {

    var ingredients = $('.ingredients');
    var ingredients_field = "";

    if(ingredients.length > 0)
    {
      ingredients_field = ingredients[0].value;

      if(ingredients.length > 1)
      {
        for(var i = 1; i < ingredients.length; i++)
        {
          if(ingredients[i].value !== "")
          {
            ingredients_field += ", " + ingredients[i].value;
          }
        }
      }
    }

    $('#food_stuff_ingredients_field').attr('value', ingredients_field);
  }

  function fill_form_with_categories()
  {
    var categories_field = "";
    var confirm = $('.confirm');
    
    var food_stuff_categories_field = "";
    
    var categoriesDiv = $('#categories_input_field');
    
    var categoryInputBegin = "<input class='categories' name='category[name][]' size='30' type='text' hidden='true' ";
    var categoryInputEnd = "</input>";
    
    if(confirm.length > 0)
    {
      categories_field = categoryInputBegin + "value=" + "'" + confirm[0].children[0].innerText + "'" + ">" + categoryInputEnd;
      
      categoriesDiv.append(categories_field);

      if(confirm.length > 1)
      {
        for(var i = 1; i < confirm.length; i++)
        {
          categories_field = categoryInputBegin + "value=" + "'" + confirm[i].children[0].innerText + "'" + ">" + categoryInputEnd;
          categoriesDiv.append(categories_field);
        }
        
        for(var i = 0; i < (confirm.length - 1); i++)
        {
          food_stuff_categories_field += confirm[i].children[0].innerText + ", ";
        }
        
        food_stuff_categories_field += confirm[confirm.length - 1].children[0].innerText;
        $('#food_stuff_categories_field').attr('value', food_stuff_categories_field);
      }
      else
      {
        food_stuff_categories_field += confirm[0].children[0].innerText;
        $('#food_stuff_categories_field').attr('value', food_stuff_categories_field);
      }
    }
  }

  function fill_form_with_tags()
  {
    var options = $('#tags_id option:selected');
    var tags = "";

    options.each(function() {

      tags += $(this).attr('value') + ", ";
    });

    tags = tags.substring(0, tags.length - 2);
    $('#food_stuff_tags').attr('value', tags);
  }
  
  function fill_form_with_storage()
  {
    var option = $('#storage_id option:selected').attr('value');
    
    $('#food_stuff_storage').attr('value', option);
  }

  function addIngredient() {
    var ingredientDiv = $('#ingredients');

    var ingredientLabel = "<br />" + "<br />" + "<label>" + "Ingredient: " + "</label>";
    ingredientLabel = $(ingredientLabel).attr("id", "ing");
    ingredientDiv.append(ingredientLabel);

    var ingredientInput = "<input class='ingredients' name='ingredient[name][]' size='30' type='text' />";
    ingredientDiv.append(ingredientInput);
  }

  function addRetailer() {
    var retailerDiv = $('#retailers');

    var retailerLabel = "</br>" + "</br>" + "<label>" + "Retailer: " + "</label>";
    retailerLabel = $(retailerLabel).attr("id", "ret");
    retailerDiv.append(retailerLabel);

    var retailerInput = "<input class='retailers' name='retailer[name][]' size='30' type='text' />";
    retailerDiv.append(retailerInput);
  }

</script>