<%= form_for(@food_stuff, :html => { :multipart => true }) do |f| %>
  <% if @food_stuff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food_stuff.errors.count, "error") %> prohibited this food_stuff from being saved:</h2>

      <ul>
      <% @food_stuff.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <table>
    <tr>
      <td>
        <%= f.label t(:FoodStuff_Name) %>
      </td>
      <td>
        <%= f.text_field :name %>
      </td>
    </tr>
    <tr>
      <td>
        <%= label_tag t(:FoodStuff_Energy) %>
      </td>
      <td>
         <input id="energy"></input>
      </td>
      <td>
        <select id="energy_select">
          <option value="kcal">KCal</option>
          <option value="kj">kJ</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label t(:FoodStuff_Protein) %>
      </td>
      <td>
        <%= f.number_field :protein %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label t(:FoodStuff_Fat) %>
      </td>
      <td>
        <%= f.number_field :fat %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_Carbohydrates) %>
      </td>
      <td>
        <%= f.number_field :carbohydrates %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_Fibers) %>
      </td>
      <td>
        <%= f.number_field :fibers %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_Salt) %>
      </td>
      <td>
        <%= f.number_field :salt %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_Ash) %>
      </td>
      <td>
        <%= f.number_field :ash %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_Water) %>
      </td>
      <td>
        <%= f.number_field :water %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_Alcohol) %>
      </td>
      <td>
        <%= f.number_field :alcohol %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_Monosaccharides) %>
      </td>
      <td>
        <%= f.number_field :monosaccharides %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_Disaccharides) %>
      </td>
      <td>
        <%= f.number_field :disaccharides %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_Sackaros) %>
      </td>
      <td>
        <%= f.number_field :sackaros %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_Whole_grain_total) %>
      </td>
      <td>
        <%= f.number_field :whole_grain_total %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_Total_saturated_fatty_acids) %>
      </td>
      <td>
        <%= f.number_field :total_saturated_fatty_acids %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_Fatty_acid_40_100) %>
      </td>
      <td>
        <%= f.number_field :fatty_acid_40_100 %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_Fatty_acid_120) %>
      </td>
      <td>
        <%= f.number_field :fatty_acid_120 %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_Fatty_acid_140) %>
      </td>
      <td>
        <%= f.number_field :fatty_acid_140 %>
       </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_Fatty_acid_160) %>
      </td>
      <td>
        <%= f.number_field :fatty_acid_160 %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_Fatty_acid_180) %>
      </td>
      <td>
        <%= f.number_field :fatty_acid_180 %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_Fatty_acid_200) %>
      </td>
      <td>
        <%= f.number_field :fatty_acid_200 %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_Total_monounsaturated_fatty_acids) %>
      </td>
      <td>
        <%= f.number_field :total_monounsaturated_fatty_acids %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_Fatty_acid_161) %>
      </td>
      <td>
        <%= f.number_field :fatty_acid_161 %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_Fatty_acid_181) %>
      </td>
      <td>
        <%= f.number_field :fatty_acid_181 %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_Total_polyunsaturated_fatty_acids) %>
      </td>
      <td>
        <%= f.number_field :total_polyunsaturated_fatty_acids %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_Total_n6_fatty_acids) %>
      </td>
      <td>
        <%= f.number_field :total_n6_fatty_acids %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_Fatty_acid_182) %>
      </td>
      <td>
        <%= f.number_field :fatty_acid_182 %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_Fatty_acid_204) %>
      </td>
      <td>
        <%= f.number_field :fatty_acid_204 %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_Total_n3_fatty_acids) %>
      </td>
      <td>
        <%= f.number_field :total_n3_fatty_acids %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_Fatty_acid_183) %>
      </td>
      <td>
        <%= f.number_field :fatty_acid_183 %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_EPA_Fatty_acid_205) %>
      </td>
      <td>
        <%= f.number_field :EPA_fatty_acid_205 %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_DPA_Fatty_acid_225) %>
      </td>
      <td>
        <%= f.number_field :DPA_fatty_acid_225 %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_DHA_Fatty_acid_226) %>
      </td>
      <td>
        <%= f.number_field :DHA_fatty_acid_226 %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_Total_trans_fatty_acids) %>
      </td>
      <td>
        <%= f.number_field :total_trans_fatty_acids %>
      </td>
      <td>
        <label>g</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_Cholesterol) %>
      </td>
      <td>
        <%= f.number_field :cholesterol %>
      </td>
      <td>
        <label>mg</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_Retinol_equivalents) %>
      </td>
      <td>
        <%= f.number_field :retinol_equivalents %>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_Retinol) %>
      </td>
      <td>
        <%= f.number_field :retinol %>
      </td>
      <td>
        <label>µg</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_Beta_Carotene) %>
      </td>
      <td>
        <%= f.number_field :beta_carotene %>
      </td>
      <td>
        <label>µg</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_Vitamin_D) %>
      </td>
      <td>
        <%= f.number_field :vitamin_d %>
      </td>
      <td>
        <label>µg</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_Vitamin_E) %>
      </td>
      <td>
        <%= f.number_field :vitamin_e %>
      </td>
      <td>
        <label>mg</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_Vitamin_K) %>
      </td>
      <td>
        <%= f.number_field :vitamin_k %>
      </td>
      <td>
        <label>µg</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_Thiamine) %>
      </td>
      <td>
        <%= f.number_field :thiamine %>
      </td>
      <td>
        <label>mg</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_Riboflavin) %>
      </td>
      <td>
        <%= f.number_field :riboflavin %>
      </td>
      <td>
        <label>mg</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_Vitamin_C) %>
      </td>
      <td>
        <%= f.number_field :vitamin_c %>
      </td>
      <td>
        <label>mg</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_Niacin) %>
      </td>
      <td>
        <%= f.number_field :niacin %>
      </td>
      <td>
        <label>mg</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_Niacin_equivalents) %>
      </td>
      <td>
        <%= f.number_field :niacin_equivalents %>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_Vitamin_B6) %>
      </td>
      <td>
        <%= f.number_field :vitamin_b6 %>
      </td>
      <td>
        <label>mg</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_Vitamin_B12) %>
      </td>
      <td>
        <%= f.number_field :vitamin_b12 %>
      </td>
      <td>
        <label>µg</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_Folate) %>
      </td>
      <td>
        <%= f.number_field :folate %>
      </td>
      <td>
        <label>µg</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_Phosphorus) %>
      </td>
      <td>
        <%= f.number_field :phosphorus %>
      </td>
      <td>
        <label>mg</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_Iodine) %>
      </td>
      <td>
        <%= f.number_field :iodine %>
      </td>
      <td>
        <label>µg</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_Iron) %>
      </td>
      <td>
        <%= f.number_field :iron %>
      </td>
      <td>
        <label>mg</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_Calcium) %>
      </td>
      <td>
        <%= f.number_field :calcium %>
      </td>
      <td>
        <label>mg</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_Potassium) %>
      </td>
      <td>
        <%= f.number_field :potassium %>
      </td>
      <td>
        <label>mg</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_Magnesium) %>
      </td>
      <td>
        <%= f.number_field :magnesium %>
      </td>
      <td>
        <label>mg</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_Sodium) %>
      </td>
      <td>
        <%= f.number_field :sodium %>
      </td>
      <td>
        <label>mg</label>
      </td>
    </tr>
    <tr>
      <td> 
         <%= f.label t(:FoodStuff_Selenium) %>
      </td>
      <td>
        <%= f.number_field :selenium %>
      </td>
      <td>
        <label>µg</label>
      </td>
    </tr>
    <tr>
      <td>
         <%= f.label t(:FoodStuff_Zinc) %>
      </td>
      <td>
        <%= f.number_field :zinc %>
      </td>
      <td>
        <label>mg</label>
      </td>
    </tr>
    <tr>
      <td>
         <%= f.label t(:FoodStuff_Waste) %>
      </td>
      <td>
        <%= f.number_field :waste %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label t(:FoodStuff_Logo) %>
      </td>
      <td>
        <%= f.file_field :logo %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label t(:FoodStuff_Image) %>
      </td>
      <td>
        <%= f.file_field :food_stuff_image %>
      </td>
    </tr>
  </table>



  </br>



  <div style="float:left; width:150px; height:50px; overflow:auto; white-space:nowrap;">
    <% @food_stuff_marks.each do|mark| %>
      <%= content_tag :div, :id => "mark#{mark.id}", :style => 'width:25px; float:left;' do %>
        <%= image_tag mark.food_stuff_mark_image.url(:thumb), class: "mark", onclick:"javascript:mark(mark#{mark.id}, '#{mark.name}');", alt:"test" %>
      <%end%>
    <%end%>
  </div>

  </br>
  </br>
  </br>
  </br>

  <div class="field" id="ingredients" type="hidden">
    
  <% if @ingredients != [] %> 
    <% @ingredients.each do |ing| %>
      <p>
        <%= label_tag "Ingredient: " %>
        <%= text_field_tag "ingredient[name][]", ing.name, id:"ingredient#{ing.id}" %>
      </p>
    <% end %>
  <% else %>
      <label for="food_stuff_ingredient">Ingredient: </label>
      <input name="ingredient[name][]" size="30" type="text" />
  <% end %>
  
  
   </div>

  <%= button_tag 'Add ingredient', type:"button", onclick:"javascript:addIngredient();" %>


  <%= f.hidden_field :energy_kcal %>
  <%= f.hidden_field :energy_kj %>
  <%= f.hidden_field :mark_names %>


  <div class="actions">
    <%= f.submit t(:FoodStuff_Edit_Button_Update_FoodStuff) %>
    <%end%>
  </div>


<script type="text/javascript">

  var listOfMarkNames = [];

  var form = $('form').submit(function () {
    fill_form_with_energy_data();
    fill_form_with_mark_names();
  });

  function mark(htmlId, dbName) {

    var index = jQuery.inArray(dbName, listOfMarkNames);

    if(index == -1) {
      listOfMarkNames.push(dbName);
      htmlId.style.backgroundColor = "#959595";
    }
    else {
      listOfMarkNames.splice(index, 1);
      htmlId.style.backgroundColor = "";
    }
  }

  function fill_form_with_mark_names() {

    $('#food_stuff_mark_names').attr('value', listOfMarkNames);
  }

  function fill_form_with_energy_data() {

    var kcal_to_kj = 4.184;
    var kj_to_kcal = 0.239;

    if($('#energy_select').attr('value') == "kcal") {

      var energy = $('#energy').attr('value');

      $('#food_stuff_energy_kcal').attr('value', $('#energy').attr('value'));
      $('#food_stuff_energy_kj').attr('value', $('#energy').attr('value') * kcal_to_kj);
    }
    else {

      $('#food_stuff_energy_kj').attr('value', $('#energy').attr('value'));
      $('#food_stuff_energy_kcal').attr('value', $('#energy').attr('value') * kj_to_kcal);
    }
  }

  function addIngredient() {
    var ingredientDiv = $('#ingredients');
    
    var ingredientLabel = "</br>" + "</br>" + "<label>" + "Ingredient: " + "</label>";
    ingredientLabel = $(ingredientLabel).attr("id", "ing");
    ingredientDiv.append(ingredientLabel);

    var ingredientInput = "<input name='ingredient[name][]' size='30' type='text' />";
    ingredientDiv.append(ingredientInput);
  }

</script>