<%= content_tag :h1 do %>
  Listing food_stuffs
<% end %>

<%= content_tag :table  do %>
  <%= content_tag :tr do %>
    <th>Name</th>
    <th>Protein</th>
    <th></th>
    <th></th>
    <th></th>
  <% end %>
<% end %>

<% @food_stuffs.each do |food_stuff| %>
  <tr>
    <td><%= food_stuff.name %></td>
    <td><%= food_stuff.protein %></td>
    <td><%= link_to 'Show', food_stuff %></td>
    <td><%= link_to 'Edit', edit_food_stuff_path(food_stuff) %></td>
    <td><%= link_to 'Destroy', food_stuff, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Food stuff', new_food_stuff_path %>