

<p id="notice"><%= notice %></p>


<strong>Name</strong> <%= @food_stuff.name %><br />
<strong>Energy(kcal)</strong> <%= @food_stuff.energy_kcal %><br />
<strong>Energy(kj)</strong> <%= @food_stuff.energy_kj %><br />
<strong>Protein</strong> <%= @food_stuff.protein %><br />
<strong>Fat</strong> <%= @food_stuff.fat %><br />
<strong>Carbohydrates</strong> <%= @food_stuff.carbohydrates %><br />
<strong>Fibers</strong> <%= @food_stuff.fibers %><br />
<strong>Salt</strong> <%= @food_stuff.salt %><br />
<strong>Ash</strong> <%= @food_stuff.ash %><br />
<strong>Water</strong> <%= @food_stuff.water %><br />
<strong>Alcohol</strong> <%= @food_stuff.alcohol %><br />
<strong>Monosaccharides</strong> <%= @food_stuff.monosaccharides %><br />
<strong>Disaccharides</strong> <%= @food_stuff.disaccharides %><br />
<strong>Sackaros</strong> <%= @food_stuff.sackaros %><br />
<strong>Whole grain total </strong> <%= @food_stuff.whole_grain_total %><br />
<strong>Total saturated fatty acids</strong> <%= @food_stuff.total_saturated_fatty_acids %><br />
<strong>Fatty acid 40 100</strong> <%= @food_stuff.fatty_acid_40_100 %><br />
<strong>Fatty acid 120</strong> <%= @food_stuff.fatty_acid_120 %><br />
<strong>Fatty acid 140</strong> <%= @food_stuff.fatty_acid_140 %><br />
<strong>Fatty acid 160</strong> <%= @food_stuff.fatty_acid_160 %><br />
<strong>Fatty acid 180</strong> <%= @food_stuff.fatty_acid_180 %><br />
<strong>Fatty acid 200</strong> <%= @food_stuff.fatty_acid_200 %><br />
<strong>Total monounsaturated fatty acids</strong> <%= @food_stuff.total_monounsaturated_fatty_acids %><br />
<strong>Fatty acid 161</strong> <%= @food_stuff.fatty_acid_161 %><br />
<strong>Fatty acid 181</strong> <%= @food_stuff.fatty_acid_181 %><br />
<strong>Total polyunsaturated fatty acids</strong> <%= @food_stuff.total_polyunsaturated_fatty_acids %><br />
<strong>Total n6 fatty acids</strong> <%= @food_stuff.total_n6_fatty_acids %><br />
<strong>Fatty acid 182</strong> <%= @food_stuff.fatty_acid_182 %><br />
<strong>Fatty acid 204</strong> <%= @food_stuff.fatty_acid_204 %><br />
<strong>Total n3 fatty acids</strong> <%= @food_stuff.total_n3_fatty_acids %><br />
<strong>Epa fatty acid 205</strong> <%= @food_stuff.EPA_fatty_acid_205 %><br />
<strong>Dpa fatty acid 225</strong> <%= @food_stuff.DPA_fatty_acid_225 %><br />
<strong>Dha fatty acid 226</strong> <%= @food_stuff.DHA_fatty_acid_226 %><br />
<strong>Total trans fatty acids</strong> <%= @food_stuff.total_trans_fatty_acids %><br />
<strong>Cholesterol</strong> <%= @food_stuff.cholesterol %><br />
<strong>Retinol equivalents</strong> <%= @food_stuff.retinol_equivalents %><br />
<strong>Retinol</strong> <%= @food_stuff.retinol %><br />
<strong>Beta carotene</strong> <%= @food_stuff.beta_carotene %><br />
<strong>Vitamin d</strong> <%= @food_stuff.vitamin_d %><br />
<strong>Vitamin e</strong> <%= @food_stuff.vitamin_e %><br />
<strong>Vitamin k</strong> <%= @food_stuff.vitamin_k %><br />
<strong>Thiamine</strong> <%= @food_stuff.thiamine %><br />
<strong>Riboflavin</strong> <%= @food_stuff.riboflavin %><br />
<strong>Vitamin c</strong> <%= @food_stuff.vitamin_c %><br />
<strong>Niacin</strong> <%= @food_stuff.niacin %><br />
<strong>Niacin equivalents</strong> <%= @food_stuff.niacin_equivalents %><br />
<strong>Vitamin b6</strong> <%= @food_stuff.vitamin_b6 %><br />
<strong>Vitamin b12</strong> <%= @food_stuff.vitamin_b12 %><br />
<strong>Folate</strong> <%= @food_stuff.folate %><br />
<strong>Phosphorus</strong> <%= @food_stuff.phosphorus %><br />
<strong>Iodine</strong> <%= @food_stuff.iodine %><br />
<strong>Iron</strong> <%= @food_stuff.iron %><br />
<strong>Calcium</strong> <%= @food_stuff.calcium %><br />
<strong>Potassium</strong> <%= @food_stuff.potassium %><br />
<strong>Magnesium</strong> <%= @food_stuff.magnesium %><br />
<strong>Sodium</strong> <%= @food_stuff.sodium %><br />
<strong>Selenium</strong> <%= @food_stuff.selenium %><br />
<strong>Zinc</strong> <%= @food_stuff.zinc %><br />
<strong>Waste</strong> <%= @food_stuff.waste %><br />
<strong>Logo</strong> <%= image_tag @food_stuff.logo.url(:thumb) %><br />
<strong>Foodstuff image</strong> <%= image_tag @food_stuff.food_stuff_image.url(:thumb) %>


<%= render :partial => 'comment', :collection => @food_stuff.comments %>

<%= form_for([@food_stuff, @food_stuff.comments.build]) do |f| %>
  <%= f.hidden_field :food_stuff_id %>

  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit "Post Comment" %>
  </div>
<% end %>



<%= link_to 'Edit', edit_food_stuff_path(@food_stuff) %> |
<%= link_to 'Back', home_index_path %>