

<p id="notice"><%= notice %></p>


<%= column('Name', @food_stuff.name) %>
<%= column('Energy(kcal)', @food_stuff.energy_kcal) %>
<%= column('Energy(kj)', @food_stuff.energy_kj) %>
<%= column('Protein', @food_stuff.protein) %>
<%= column('Fat', @food_stuff.fat) %>
<%= column('Carbohydrates', @food_stuff.carbohydrates) %>
<%= column('Fibers', @food_stuff.fibers) %>
<%= column('Salt', @food_stuff.salt) %>
<%= column('Ash', @food_stuff.ash) %>
<%= column('Water', @food_stuff.water) %>
<%= column('Alcohol', @food_stuff.alcohol) %>
<%= column('Monosaccharides', @food_stuff.monosaccharides) %>
<%= column('Disaccharides', @food_stuff.disaccharides) %>
<%= column('Sacharos', @food_stuff.sackaros) %>
<%= column('Whole grain total', @food_stuff.whole_grain_total) %>
<%= column('Total saturated fatty acids', @food_stuff.total_saturated_fatty_acids) %>
<%= column('Fatty acid 4:0-10:0', @food_stuff.fatty_acid_40_100) %>
<%= column('Fatty acid 12:0', @food_stuff.fatty_acid_120) %>
<%= column('Fatty acid 14:0', @food_stuff.fatty_acid_140) %>
<%= column('Fatty acid 16:0', @food_stuff.fatty_acid_160) %>
<%= column('Fatty acid 18:0', @food_stuff.fatty_acid_180) %>
<%= column('Fatty acid 20:0', @food_stuff.fatty_acid_200) %>
<%= column('Total monounsaturated fatty acids', @food_stuff.total_monounsaturated_fatty_acids) %>
<%= column('Fatty acid 16:1', @food_stuff.fatty_acid_161) %>
<%= column('Fatty acid 18:1', @food_stuff.fatty_acid_181) %>
<%= column('Total polyunsaturated fatty acids', @food_stuff.total_polyunsaturated_fatty_acids) %>
<%= column('Total n6 fatty acids', @food_stuff.total_n6_fatty_acids) %>
<%= column('Fatty acid 18:2', @food_stuff.fatty_acid_182) %>
<%= column('Fatty acid 20:4', @food_stuff.fatty_acid_204) %>
<%= column('Total n3 fatty acids', @food_stuff.total_n3_fatty_acids) %>
<%= column('EPA (Fatty acid 20:5)', @food_stuff.EPA_fatty_acid_205) %>
<%= column('DPA (Fatty acid 22:5)', @food_stuff.DPA_fatty_acid_225) %>
<%= column('DHA (Fatty acid 22:6)', @food_stuff.DHA_fatty_acid_226) %>
<%= column('Total trans fatty acids', @food_stuff.total_trans_fatty_acids) %>
<%= column('Cholesterol', @food_stuff.cholesterol) %>
<%= column('Retinol equivalents', @food_stuff.retinol_equivalents) %>
<%= column('Retinol', @food_stuff.retinol) %>
<%= column('β-Carotene', @food_stuff.beta_carotene) %>
<%= column('Vitamin D', @food_stuff.vitamin_d) %>
<%= column('Vitamin E', @food_stuff.vitamin_e) %>
<%= column('Vitamin K', @food_stuff.vitamin_k) %>
<%= column('Thiamine', @food_stuff.thiamine) %>
<%= column('Riboflavin', @food_stuff.riboflavin) %>
<%= column('Vitamin C', @food_stuff.vitamin_c) %>
<%= column('Niacin', @food_stuff.niacin) %>
<%= column('Niacin equivalents', @food_stuff.niacin_equivalents) %>
<%= column('Vitamin B6', @food_stuff.vitamin_b6) %>
<%= column('Vitamin B12', @food_stuff.vitamin_b12) %>
<%= column('Folate', @food_stuff.folate) %>
<%= column('Phosphorus', @food_stuff.phosphorus) %>
<%= column('Iodine', @food_stuff.iodine) %>
<%= column('Iron', @food_stuff.iron) %>
<%= column('Calcium', @food_stuff.calcium) %>
<%= column('Potassium', @food_stuff.potassium) %>
<%= column('Magnesium', @food_stuff.magnesium) %>
<%= column('Sodium', @food_stuff.sodium) %>
<%= column('Selenium', @food_stuff.selenium) %>
<%= column('Zinc', @food_stuff.zinc) %>
<%= column('Waste', @food_stuff.waste) %>
<strong>Logo</strong> <%= image_tag @food_stuff.logo.url(:thumb) %><br />
<strong>Foodstuff image</strong> <%= image_tag @food_stuff.food_stuff_image.url(:thumb) %><br /> 

<%= link_to image_tag('Thumb up!', :border => 0), vote_up_food_stuff_path(@food_stuff), :remote => true, :id => "thumbs_up" %>
<label id="votes_id"><%= @food_stuff.votes_for %></label>

<%= render :partial => 'comment', :collection => @food_stuff.comments %>

<%= form_for([@food_stuff, @food_stuff.comments.build]) do |f| %>
  <%= f.hidden_field :food_stuff_id %>

  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit "Post Comment" %>
  </div>
<% end %>


<%= link_to 'Edit', edit_food_stuff_path(@food_stuff) %> |
<%= link_to 'Back', home_index_path %>


<script type="text/javascript">
  $('#thumbs_up').bind('ajax:success', function(evt, data) {
  	$('#votes_id').text(data);
  });
</script>