<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @food_stuff.name %>
</p>

<p>
  <b>Protein:</b>
  <%= @food_stuff.protein %>
</p>


<%= link_to 'Edit', edit_food_stuff_path(@food_stuff) %> |
<%= link_to 'Back', home_index_path %>